<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.4/phpunit.xsd"
         bootstrap="./tests/bootstrap.php"
         backupGlobals="false"
         strict="true"
         colors="true">
    <testsuites>
        <testsuite>
            <file>./tests/test-media-helpers.php</file>
            <file>./tests/test-assets-helpers.php</file>
            <file>./tests/test-i18n-helpers.php</file>
        </testsuite>
    </testsuites>
</phpunit>
